<%= image_tag "header.png", id: "welcome-header-image", class: "welcome-header" %>
<h1 id="welcome-title">Welcome</h1>

<div class="button-container">
    <section class="login-button"><%= button_to "Login", '/login', method: :get%></section>
    <section class="signup-button"><%= button_to "Sign Up", '/users/new', method: :get%></section>
</div>