<h1><%= @user.name %>'s Likes</h1>

<% @user.likes.each do |like| %>
    <%= like.post.content %><br>
    <%= link_to like.post.user.user_name, user_path(like.post.user) %>
    <hr>
<% end %>
<%= link_to 'Back to Profile', user_path(@user) %>