<h1>Edit Buzz</h1>
<section id="post-container">
<%= form_for @post do |f| %>
    <%= f.label "Change your buzz" %>...<br>
    <%= f.text_area :content, id: "content" %><br>
    <%= f.submit id: "submit" %>
<% end %>
</section>