<% @posts.feed_order.each do |post|%>
<div class="post-container">
<p><%=post.content%></p>
by <%= link_to post.user.user_name, user_path(post.user_id), class: "user-link" %>
<%=post.created_at.strftime("%A, %B %d, %Y") %>
<hr>
</div>
<%end%>