/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

 /*NAV*/
/* .navbar-logo {
    width: 90px;
} */

* {
    outline: #000000;
}

nav {
    background-color: #191919;
}

#logo {
    width: 130px;
}

.navbar a {
    color: #eeeeee;
    font-size: 15px;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: none;
    color: #fddd6c;
}

/*BODY*/
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url("hex2.png");
    background-attachment: fixed;
    background-size: 400px;
    height: 100%;
}

main {
    max-width: 750px;
    height: 100%;
    margin: 70px auto 0 auto;
    background-color:#eeeeee;
    padding: 40px 50px;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    font-size: .9rem;
    background-color: #191919;
    text-align: center;
    color: #eeeeee;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: #fddd6c;
}


footer a:hover {
    color: #ffeba1;
}

/*Create Buzz*/
#create-buzz {
    display:flex;
    flex-direction: column;
    font-weight: 400;
}

#submit {
    margin: 15px 0 15px 0;
    align-self: flex-end;
    background-color: #fddd6c;
    border: none;
    height: 40px;
    padding: 0 40px;
    border-radius: 5px;
}

#submit:hover {
    background-color: #ffeba1;
}

#content {
    height: 100px;
    border: 1px solid #4d4d4d67;
}

hr {
    background-color: white;
    height: 5px;
}

/* Feed */

/* Title */

.feed-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed-header-container a button {
    background-color: #fddd6c;
    border: none;
    height: 40px;
    padding: 0 40px;
    border-radius: 5px;
}

.feed-header-container a button:hover {
    background-color: #ffeba1;
}

/* Posts */
.post-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 0;
    padding: 15px 15px;
}

.post-content {
    align-self: center;
    padding: 25px 0;
}

.time-likes-container {
    display: flex;
    justify-content: space-between;
}

.bee-button-likes form {
    border: none;
    display: inline;
}

.user-name a {
    color: black;
    font-weight: 600;
}

.time-posted {
    font-size: 0.75rem;
    align-self: flex-end;
}


/*PROFILE*/

.edit-delete-container {
    text-align: right;
}

.edit-delete-container a {
    text-decoration: none;
    color: black; 
    font-size: .8rem;
}

.left-column, .right-column {
    display:block;
}

.row-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto auto;
    grid-gap: 3px;
}

.left-column {
    grid-column: 1/2;
    background-color: #fddd6c;
    padding: 3px 10px;
}

.right-column {
    grid-column: 2/3;
    background-color: white;
    padding: 3px 10px;
}

#name-logout-container {
    display: flex;
    justify-content: space-between;
}

#following-name-container {
    margin-bottom: 10px;
}

#following-name-container a{
    color: black;
}

#name-logout-container h1 {
    margin-bottom: 15px;
}

#name-logout-container form input {
    background-color: #cccccc;
    border: none;
    height: 30px;
    padding: 0 20px;
    border-radius: 3px;
    font-size: .9rem;
    margin-bottom: 8px;
}

#name-logout-container form input:hover {
    background-color: #d4d4d4; 
}

#edit-user {
    text-align: right;
    padding: 3px 0;
}

#edit-user button {
    background-color: #cccccc;
    border: none;
    height: 40px;
    margin-top: 5px;
    padding: 0 35px;
    border-radius: 5px;
}

#edit-user button:hover {
    background-color: #d4d4d4; 
}

#profile-feed-container {
    display: flex;
    justify-content: space-between;
}

#profile-feed-container a {
    align-self: center;
}

#profile-feed-container a button {
    background-color: #cccccc;
    border: none;
    height: 40px;
    padding: 0 40px;
    border-radius: 5px;
}

#profile-feed-container a button:hover {
    background-color: #d4d4d4; 
}

#all-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-links a {
    font-size: .9rem;
    color: black;
}


/*EDITING*/
/*POST*/

#post-container #content {
    width: 100%;
}

#post-container section {
    text-align: right;
}
/*USER*/

.edit_user {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    margin-top: 10px;
}

.edit_user .left {
    grid-column: 1/2;
    text-align: right;
    padding: 0 12px;
}

.edit_user .right {
    grid-column: 2/5;
}

.edit_user .right input {
    width: 100%;
    border: none;
}

.edit_user #submit {
    grid-column: 3/5;
}

/*GET RID OF BORDER ON BEE EMOJI*/
 .bee-emoji {
    border: 0;
    background-color: white;
} 

.bee-emoji:hover {
    border-radius: 3px;
    text-shadow: 0px 0px 10px #CAB156;
}


/*VIEW LIKES*/

#likes-page-title {
    display:flex;
    flex-direction: column;
    font-weight: 400;
}
